{% extends 'base.html.twig' %}

{% block title %}Dance Academy - Actus{% endblock %}


{% block body %}
        {% include 'parts/nav.html.twig' %}
        <section class="portfolio">
            <h1 class="p-4 mb-5 bg-primary text-white text-center font-oswald">Portfolio</h1>
        </section>
        <div class="d-flex justify-content-evenly">
            <article class="w-25 mb-5">
                <div class="gallery">
                <a href="{{ path('gallery') }}">
                    <img class="img-thumbnail mb-5" src="{{ asset('/img/blog/author-vibez-img-1.jpg') }}" alt="">
                        <div class="gallery__float">
                            <span class ="gallery__title">Dance</span>
                            <h3 class="gallery__title">Your title</h3>
                        </div>
                    </a>
                </div>
            </article>
            <article class="w-25 mb-5">
                <div class="gallery">
                    <img class="img-thumbnail mb-5" src="{{ asset('/img/blog/author-vibez-img-1.jpg') }}" alt="">
                    <div class="gallery__float">
                        <span class ="gallery__title">Dance</span>
                        <h3 class="gallery__title">Your title</h3>
                    </div>
                </div>
            </article>
            <article class="w-25 mb-5">
                <div class="gallery">
                    <img class="img-thumbnail mb-5" src="{{ asset('/img/blog/author-vibez-img-1.jpg') }}" alt="">
                    <div class="gallery__float">
                        <span class ="gallery__title">Dance</span>
                        <h3 class="gallery__title">Your title</h3>
                    </div>
                </div>
            </article>
        </div>
    </main>
        {% include 'parts/footer.html.twig' %}
{% endblock %}