@import './abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

.gallery {
    &__float {
        border: 1px solid black;
        position: absolute;
        display: block;
        padding: 38px;
        background-color: rgba(2,18,15,.8);
        opacity: 0;
        text-align: left;
    }
}
