.on-front {
    z-index: 9999;
}

.slides {
    overflow: hidden;
}

.nav-item {
    font-family: 'Oswald', sans-serif;
}

.nav-item>a {
    color: #ffff;
}

.white {
    color: #ffff;
}

.slide1 {
    margin: 25% 30%;
}

.slide2,
.slide3 {
    margin: 25% 0;
}

.carousel,
.slides {
    height: 100vh;
}

.gallery-image,
.gallery-no-image {
    width: 25%;
    height: 483px;
}

.gallery-no-image {
    background-color: rgb(248, 16, 229);
    padding: 5rem;
}

.roboto {
    font-family: 'roboto';
}

.teacher--background {
    height: 35vh;
    background-image: url('/assets/img/poledancing-backround-1.jpg');
    background-repeat: no-repeat;
}

.biography {
    height: 50vh;
    background-image: url('/assets/img/poledance-parallax.jpg');
    background-repeat: no-repeat;
}